<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="10:0 et, 30 manat qazan!">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large, suefa, play suefa, suefa app" />
    <meta name="description" content="10:0 et, 30 manat qazan!">

    <meta name="author" content="Suefa.app">
    <meta name="keywords" content="suefa, rock paper scissors, dash kagiz qayci, kamen nojnici bumaga, play suefa, suefa app, suefa baku">
    <meta name="google-site-verification" content="bydG3URtESNZlDKozxWmIOfEePKffj0YGTukJ1uMwWU" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7753012657572384"
            crossorigin="anonymous"></script>

    <script type="application/ld+json">
        @Html.Raw("{\"@context\":\"http://schema.org\",\"@type\":\"Organization\",\"name\":\"Suefa App\",\"url\":\"https://suefa.app\",\"logo\":\"https://media.istockphoto.com/id/162675736/photo/rock-paper-scissors-game-set.webp?s=612x612&w=is&k=20&c=IvH2Ng7ZStkquorTtr5CIm1j2e2VH9bZj0RA81bRoEM=\"}")
    </script>

    <link rel="canonical" href="https://suefa.app" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="10:0 et, 30 manat qazan!">
    <meta property="og:description" content="10:0 et, 30 manat qazan!">
    <meta property="og:url" content="https://suefa.app">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="10:0 et, 30 manat qazan!">
    <meta name="twitter:description" content="10:0 et, 30 manat qazan!">

    <link rel="stylesheet" href="~/assets/styles/plugins/bootstrap-5.0.2-dist/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/assets/styles/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/styles/cols.css">

    <title>SUEFA GAME</title>
</head>

<body id="body">

    <main id="main">

        <div class="preloaderdiv col-lg-12 col-12 ">
            <div class="preloader"></div>
        </div>

        @RenderBody()

    </main>

    <!-- JQUERY  -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="~/assets/styles/plugins/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"
            integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- My JS -->
    <script src="~/assets/scripts/main.js" asp-append-version="true"></script>
</body>

</html>